node_modules/
tmp/
temp/
dest/
_td_database/
_td_files/
tdd/
ffmpeg-4.4-amd64-static/
ffmpeg-release-amd64-static.tar.xz
.env
.env.tdd
.env.compose
.env.vps
.config
*.code-workspace
*.log
*.zip
tgplay.tar
tdd.tar
telegram-upload.json
telegram-upload.session